<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validação E-mail com DOTENV</title>
</head>
<body>
    <header>

    </header>
    <main>
        <section class="form-wrapper">
            <form class="envioemail" method="post" role="form" aria-label="Formulário de envio de Email (teste de DOTENV)" >
                <fieldset class="form-group">
                    <section class="input-group">
                        <label for="nome">NOME COMPLETO</label>
                        <input type="text" id="nome" name="nome" placeholder="Ex: Thaís Araujo Veleporte" value="<%= %>" required>
                        <span class=""><</span>
                    </section>
                </fieldset>
            </form>
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>